{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load currency_format %}
{% block page_title %}
{% blocktrans with id=object.id subject=object.subject %}
  Reimburse Request {{ id }}: {{ subject }}
{% endblocktrans %}
{% endblock %}
{% block content %}
<h1>
  {% blocktrans with id=object.id subject=object.subject %}
    Reimburse Request {{ id }}: {{ subject }}
  {% endblocktrans %}
</h1>
{% if object.over_budget %}
  <div class="alert alert-warning">
    {% blocktrans %}
      <strong>Over Budget: Partial Reimbursement.</strong>
      The requester has spent more than the budgeted amount, so we only expect a
      partial reimbursement.
    {% endblocktrans %}
  </div>
{% endif %}
{% if line_outside_budget %}
  <div class="alert alert-warning">
    {% blocktrans %}
      <strong>Non-Budgeted Expenses.</strong>
      This request includes expense types that weren't part of the approved
      budget request.
      Please review the request and reimburse up to the approved total,
      if the expenses are aligned with the approved budget request.
      For example, if flight tickets were budgeted, any form of travel can be
      reimbursed.
    {% endblocktrans %}
  </div>
{% endif %}
{% if line_outside_conversion_limits %}
  <div class="alert alert-warning">
    {% blocktrans %}
      <strong>High conversion rate on a receipt.</strong>
      This request includes a receipt that has a higher conversion rate than expected.
      Please review the request and the manually adjusted exchange rate conversions.
    {% endblocktrans %}
  </div>
{% endif %}
<h2>{% trans "Bank Details" %}</h2>
<details>
  <summary>{% trans "show/hide" %}</summary>
  <table class="table table-striped">
    {% for k, v in object.pretty_bank_details.items %}
      <tr>
        <th>{{ k }}</th>
        <td>{{ v }}</td>
      </tr>
    {% endfor %}
  </table>
  {% if object.bank_details.iban %}
    <h3>{% trans "SEPA QR Code" %}</h3>
    <div id="sepa_qr_code"></div>
  {% endif %}
</details>
<h2>{% trans "Reimbursement" %}</h2>
<form method="post">
  {% crispy form %}
  <div class="fs-4 pb-3">
    {% trans "Total:" %}
    <span id="total">{% trans "Calculated by Javascript..." %}</span>
  </div>
  <div class="fs-4 pb-3">
    {% trans "Budgeted:" %} <span id="budgeted">{{ object.total | currency }}</span>
    ({% trans "Approved up to:" %} <span id="budget-limit">{{ object.approved_budget_limit | currency }}</span>)
  </div>
  <input type="submit" class="btn btn-primary" value="{% trans 'Reimburse' %}">
</form>
{% endblock %}
{% block extra_foot %}
{{ object.bank_details|json_script:"bank_details_json" }}
<script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js" integrity="sha256-xUHvBjJ4hahBW8qN9gceFBibSFUzbe9PNttUvehITzY=" crossorigin="anonymous"></script>
<script>
  "use strict";
  (function() {
    const budgeted = {{ object.total.0 }};
    const approved_budget_limit = {{ object.approved_budget_limit.0 }};

    const update_total = function(event) {
      var total = 0;
      document.querySelectorAll("input.sum-line").forEach(input => {
        const amount = parseFloat(input.value) || 0;
        total += amount;
      });
      const fmt = new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "{{ object.currency }}",
      });
      const total_span = document.querySelector("span#total");
      total_span.textContent = fmt.format(total);
      document.querySelector("span#budgeted").textContent = fmt.format(budgeted);
      document.querySelector("span#budget-limit").textContent = fmt.format(approved_budget_limit);

      if (total > approved_budget_limit) {
        total_span.classList.add("bg-danger");
      } else {
        total_span.classList.remove("bg-danger");
      }
      if (total > budgeted && total <= approved_budget_limit) {
        total_span.classList.add("bg-warning");
      } else {
        total_span.classList.remove("bg-warning");
      }
      update_qr_code(total);
    }

    const bank_details = JSON.parse(
      document.getElementById("bank_details_json").textContent);
    const qr_div = document.getElementById("sepa_qr_code");
    const qr = qr_div ? new QRCode(qr_div, "") : undefined;

    const update_qr_code = function(total) {
      if (qr_div) {
        // Based On: EPC069-12 Version 3.0
        const lines = [
          "BCD", // Static
          "002", // Version 2.0
          "1", // UTF-8
          "SCT", // Static
          bank_details.bic || "",
          bank_details.recipient_name.substring(0, 70),
          bank_details.iban || "",
          "{{ object.currency }}" + total,
          "", // Payment Purpose. BEXP?
          "", // Creditor Reference (structured)
          "{{ SITE_NAME }} # {{ object.id }}", // Reference (unstructured)
          "", // Beneficiary to originator information
        ];
        const qr_data = lines.join("\n");
        qr.clear();
        qr.makeCode(qr_data);
      }
    }

    document.querySelectorAll("input.sum-line").forEach(el => {
      el.addEventListener("input", update_total);
    });
    update_total();
  })();
</script>
{% endblock %}
