{% extends 'base.html' %}
{% load i18n %}
{% load currency_format %}
{% block page_title %}
{% blocktrans with id=object.id subject=object.subject %}
  Receipts for request {{ id }}: {{ subject }}
{% endblocktrans %}
{% endblock %}
{% block extra_head %}
<style type="text/css">
.table .xe {
  background-color: #0000ff10;
}
</style>
{% endblock %}
{% block content %}
<h1>
  {% blocktrans with id=object.id subject=object.subject %}
    Receipts for request {{ id }}: {{ subject }}
  {% endblocktrans %}
</h1>
{% for receipt in object.receipts.all %}
  <h2>{{ receipt.subject }}</h2>
  <p>
    <a class="btn btn-warning float-end"
       href="{% url "edit-receipt" object.id receipt.id %}">{% trans "Edit Receipt" %}</a>
    {{ receipt.description|linebreaksbr }}
  </p>
  {% if receipt.file.path.lower|slice:"-4:" == ".pdf" %}
    <object data="{% url "view-receipt-file" object.id receipt.id %}"
            type="application/pdf" width="1296" height="1296">
      <div>
        {% trans "Unfortunately your browser can't display inline PDFs." %}
        <a class="btn btn-info"
            href="{% url "view-receipt-file" object.id receipt.id %}">
          {% trans "Download" %}
        </a>
      </div>
    </object>
  {% else %}
    <img src="{% url "view-receipt-file" object.id receipt.id %}"
         class="img-fluid receipt">
  {% endif %}
  {% if receipt.lines.exists %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Expense Type" %}</th>
          <th class="text-end">{% trans "Amount" %}</th>
          <th class="text-end"
              title="{% trans "Calculated based on the exchange rate of the receipt date" %}">
            {% blocktrans with currency=object.currency %}
              Amount {{ currency }}
            {% endblocktrans %}
          </th>
          {% if object.currency != "USD" %}
            <th class="text-end xe"
                title="{% trans "Calculated based on current exchange rates" %}">
              {% trans "Amount USD" %}
            </th>
          {% endif %}
          {% if object.currency != "EUR" %}
            <th class="text-end xe"
                title="{% trans "Calculated based on current exchange rates" %}">
              {% trans "Amount EUR" %}
            </th>
          {% endif %}
        </tr>
      </thead>
      {% for line in receipt.lines.all %}
        <tr>
          <td>{{ line.date }}</td>
          <td>{{ line.description|linebreaksbr }}</td>
          <td>{{ line.expense_type }}</td>
          <td class="text-end">{{ line.qualified_amount|currency }}</td>
          <td class="text-end">{{ line.qualified_converted_amount|currency }}</td>
          {% if object.currency != "USD" %}
            <td class="text-end xe">{{ line.qualified_converted_amount|exchange:"USD" }}</td>
          {% endif %}
          {% if object.currency != "EUR" %}
            <td class="text-end xe">{{ line.qualified_converted_amount|exchange:"EUR" }}</td>
          {% endif %}
        </tr>
      {% endfor %}
      <tr>
        <th colspan="4">{% trans "Receipt Subtotal" %}</th>
        <td class="text-end">{{ receipt.total|currency }}</td>
        {% if object.currency != "USD" %}
          <td class="text-end xe">{{ receipt.total|exchange:"USD" }}</td>
        {% endif %}
        {% if object.currency != "EUR" %}
          <td class="text-end xe">{{ receipt.total|exchange:"EUR" }}</td>
        {% endif %}
      </tr>
    </table>
  {% endif %}
{% endfor %}
{% endblock %}
