{% extends 'base.html' %}
{% load i18n %}
{% load currency_choices %}
{% load currency_format %}
{% block page_title %}
{% blocktrans with id=object.id subject=object.subject %}
  Request {{ id }}: {{ subject }}
{% endblocktrans %}
{% endblock %}
{% block extra_head %}
<style type="text/css">
.table .xe {
  background-color: #0000ff10;
}
@media print {
  section#actions {
    display: none;
  }
  a.btn {
    display: none;
  }
  button.btn {
    display: none;
  }
}
</style>
{% endblock %}
{% block content %}
<h1>
  {% blocktrans with id=object.id subject=object.subject %}
    Request {{ id }}: {{ subject }}
  {% endblocktrans %}
</h1>
<section id="actions">
  <h2>{% trans "Actions" %}</h2>
  <div class="modal fade" id="comment-request" tabindex="-1">
    <div class="modal-dialog">
      <form method="post" action="{% url "request-comment" object.id %}" class="d-inline">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Comment on Request" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{% trans "Close" %}"></button>
          </div>
          <div class="modal-body">
            <p>
              {% blocktrans %}
                Comments are not for getting support or having conversations.
                They are simply recorded in the request history for future reference.
              {% endblocktrans %}
            </p>
            <p>
              {% blocktrans with issue_url="https://salsa.debian.org/stefanor/debian-reimbursement/-/issues" %}
                If you have a support question or bug report, please
                <a href="{{ issue_url }}">file an issue</a>.
              {% endblocktrans %}
            </p>
            {% csrf_token %}
            <label for="comment-details" class="form-label">
              {% trans "Comment:" %}
            </label>
            <textarea name="details" id="comment-details" rows="3"
                      class="form-control"></textarea>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="{% trans "Comment" %}">
          </div>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#comment-request">
    {% trans "Comment" %}
  </button>
  {% if object.state == "draft" and access.requester %}
    <h3>{% trans "Requester Actions" %}</h3>
    <div class="row">
      <div class="col mb-1">
        <div class="modal fade" id="propose-request" tabindex="-1">
          <div class="modal-dialog">
            <form method="post" action="{% url "request-submit-draft" object.id %}" class="d-inline">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{% trans "Propose Expenses" %}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="{% trans "Close" %}"></button>
                </div>
                <div class="modal-body">
                  <p>
                    {% blocktrans %}
                      This will submit the request to the assigned reviewers, to
                      approve the budget of the request.
                      Once it is approved you will be able to attach receipts and
                      request payment.
                    {% endblocktrans %}
                  </p>
                  {% csrf_token %}
                  <label for="submit-draft-details" class="form-label">
                    {% trans "Optional Notes for reviewers:" %}
                  </label>
                  <textarea name="details" id="submit-draft-details" rows="3"
                            class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" value="{% trans "Propose Expenses" %}">
                </div>
              </div>
            </form>
          </div>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#propose-request">
          {% trans "Submit for review" %}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col mb-1">
        <a class="btn btn-warning" href="{% url "request-edit" object.id %}">
          {% trans "Edit Request" %}
        </a>
        <div class="modal fade" id="delete-request" tabindex="-1">
          <div class="modal-dialog">
            <form method="post" action="{% url "request-delete" object.id %}" class="d-inline">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{% trans "Delete Request" %}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="{% trans "Close" %}"></button>
                </div>
                <div class="modal-body">
                  <p>
                    {% blocktrans with approvers=object.approver_group.name payers=object.payer_group.name %}
                      This will delete the request.
                      No further action will be taken by {{ approvers }} or {{ payers }}.
                      No reimbursements will be made.
                    {% endblocktrans %}
                  </p>
                  {% csrf_token %}
                  <label for="delete-draft-details" class="form-label">
                    {% trans "Optional Notes for reviewers:" %}
                  </label>
                  <textarea name="details" id="delete-draft-details" rows="3"
                            class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-danger" value="{% trans "Delete Request" %}">
                </div>
              </div>
            </form>
          </div>
        </div>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-request">
          {% trans "Delete Request" %}
        </button>
      </div>
    </div>
  {% elif object.state == "pending_approval" %}
    {% if access.approver or access.admin %}
      <h3>{% trans "Approver Actions" %}</h3>
      <div class="modal fade" id="review-request" tabindex="-1">
        <div class="modal-dialog">
          <form method="post" action="{% url "request-review" object.id %}" class="d-inline">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Review Request" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <label for="review-request-details" class="form-label">
                  {% trans "Public Notes" %}
                </label>
                <textarea name="details" id="review-request-details" rows="3"
                          class="form-control"></textarea>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" name="approve"
                       value="{% trans "Approve" %}">
                <input type="submit" class="btn btn-danger" name="reject"
                       value="{% trans "Reject" %}">
                <input type="submit" class="btn btn-warning" name="more_info"
                       value="{% trans "Request More Information" %}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review-request">
        {% trans "Review Request" %}
      </button>
    {% endif %}
  {% elif object.state == "approved" %}
    {% if access.requester or access.admin %}
      <h3>{% trans "Requester Actions" %}</h3>
    {% endif %}
    {% if access.requester %}
      <a class="btn btn-warning" href="{% url "add-receipt" object.id %}">{% trans "Add Receipt" %}</a>
      <a class="btn btn-warning" href="{% url "bank-form-selector" object.id %}">
        {% if object.bank_details %}
          {% trans "Edit Bank Details" %}
        {% else %}
          {% trans "Add Bank Details" %}
        {% endif %}
      </a>
      {% if object.over_budget %}
        <div class="modal fade" id="request-submit-increase" tabindex="-1">
          <div class="modal-dialog">
            <form method="post" action="{% url "request-submit-increase" object.id %}" class="d-inline">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{% trans "Request Budget Increase" %}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="{% trans "Close" %}"></button>
                </div>
                <div class="modal-body">
                  <p>
                    {% blocktrans %}
                      This will return the request back to the pre-approval Draft
                      state, so you can edit it.
                      Once you've edited the request, you can re-submit it, to be
                      re-reviewed.
                    {% endblocktrans %}
                  </p>
                  {% csrf_token %}
                  <label for="request-increase-details" class="form-label">
                    {% trans "Public Notes" %}
                  </label>
                  <textarea name="details" id="request-increase-details" rows="3"
                            class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary"
                         value="{% trans "Request Budget Increase" %}">
                </div>
              </div>
            </form>
          </div>
        </div>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#request-submit-increase">
          {% trans "Request Budget Increase" %}
        </button>
      {% endif %}
    {% endif %}
    {% if access.requester or access.admin %}
      <div class="modal fade" id="request-change-currency" tabindex="-1">
        <div class="modal-dialog">
          <form method="post" action="{% url "request-change-currency" object.id %}" class="d-inline">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Change Request Currency" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
              </div>
              <div class="modal-body">
                <p>
                  {% blocktrans with currency=object.currency %}
                    Do you need to be reimbursed in something other than {{ currency }}?
                    We can change your request at the exchange rate of the date
                    of submission, without having to get it re-approved.
                  {% endblocktrans %}
                </p>
                {% csrf_token %}
                <div class="mb-3">
                  <label for="currency-change-currency" class="form-label">
                    {% trans "New Currency:" %}
                  </label>
                  <select name="currency" id="currency-change-currency" class="form-control">
                    {% currency_choices_options selected=object.currency %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="currency-change-details" class="form-label">
                    {% trans "Details:" %}
                  </label>
                  <textarea name="details" id="currency-change-details" rows="3"
                            class="form-control"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="{% trans "Change Currency" %}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#request-change-currency">
        {% trans "Change Request Currency" %}
      </button>
    {% endif %}
    {% if access.requester %}
      {% if object.receipts and object.bank_details %}
        <div class="modal fade" id="request-submit" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Submit for Reimbursement" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
              </div>
              <div class="modal-body">
                <p>
                  {% blocktrans with payer=object.payer_group.name %}
                    This will submit your request for reimbursement.
                    {{ payer }} will review your request and receipts, and
                    reimburse you.
                    Not all expenses may be reimburseable, they need to comply with
                    {{ payer }}'s policies, and fit within the approved budget.
                  {% endblocktrans %}
                </p>
                {% if not object.within_budget %}
                  <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">
                      <i class="bi bi-exclamation-triangle-fill"></i>
                      {% trans "Over Budget" %}
                    </h4>
                    <p>
                      {% blocktrans with approved=object.total|currency spent=object.receipts_total|currency %}
                        This request is over budget.
                        {{ spent }} was spent out of an approved budget of {{ approved }}.
                      {% endblocktrans %}
                    </p>
                    <p>
                      {% blocktrans %}
                        If you continue with the request you will be reimbursed up to the
                        approved amount, only.
                        If you wish to request a budget increase for your request, please do so
                        before submitting for reimbursement.
                      {% endblocktrans %}
                    </p>
                  </div>
                {% endif %}
              </div>
              <div class="modal-footer">
                <a class="btn btn-primary" href="{% url "request-submit" object.id %}">
                  {% trans "Submit for Reimbursement" %}
                </a>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#request-submit">
          {% trans "Submit for Reimbursement" %}
        </button>
      {% endif %}
      <div class="modal fade" id="withdraw-request" tabindex="-1">
        <div class="modal-dialog">
          <form method="post" action="{% url "request-delete" object.id %}" class="d-inline">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Withdraw and Delete Request" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
              </div>
              <div class="modal-body">
                <p>
                  {% blocktrans with approvers=object.approver_group.name payers=object.payer_group.name %}
                    This will delete the request.
                    No further action will be taken by {{ approvers }} or {{ payers }}.
                    No reimbursements will be made.
                  {% endblocktrans %}
                </p>
                {% csrf_token %}
                <label for="withdraw-details" class="form-label">
                  {% trans "Optional Notes for reviewers:" %}
                </label>
                <textarea name="details" id="withdraw-details" rows="3"
                          class="form-control"></textarea>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-danger" value="{% trans "Delete Request" %}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#withdraw-request">
        {% trans "Delete Request" %}
      </button>
    {% endif %}
  {% elif object.state == "pending_payment" %}
    {% if access.payer or access.admin %}
      <h3>{% trans "Payer Actions" %}</h3>
    {% endif %}
    {% if access.payer %}
      <a class="btn btn-success" href="{% url "request-reimburse" object.id %}">
        {% trans "Record Reimbursement" %}
      </a>
    {% endif %}
    {% if access.payer or access.admin %}
      <div class="modal fade" id="reimbursement-moreinfo" tabindex="-1">
        <div class="modal-dialog">
          <form method="post" action="{% url "request-reimburse-return" object.id %}" class="d-inline">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Return request for more information" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
              </div>
              <div class="modal-body">
                {% csrf_token %}
                <label for="reimbursement-moreinfo-details" class="form-label">
                  {% trans "Describe why the reimbursement cannot be processed:" %}
                </label>
                <textarea name="details" id="reimbursement-moreinfo-details" rows="3"
                          class="form-control"></textarea>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="{% trans "Return" %}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#reimbursement-moreinfo">
        {% trans "Return for more information" %}
      </button>
      <div class="modal fade" id="request-change-currency" tabindex="-1">
        <div class="modal-dialog">
          <form method="post" action="{% url "request-change-currency" object.id %}" class="d-inline">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Change Request Currency" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{% trans "Close" %}"></button>
              </div>
              <div class="modal-body">
                <p>
                  {% blocktrans with currency=object.currency %}
                    Do you need to reimburse in a currency other than {{ currency }}?
                    We can change the request at the exchange rate of the date
                    of submission.
                  {% endblocktrans %}
                </p>
                {% csrf_token %}
                <div class="mb-3">
                  <label for="currency-change-currency" class="form-label">
                    {% trans "New Currency:" %}
                  </label>
                  <select name="currency" id="currency-change-currency" class="form-control">
                    {% currency_choices_options selected=object.currency %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="currency-change-details" class="form-label">
                    {% trans "Details:" %}
                  </label>
                  <textarea name="details" id="currency-change-details" rows="3"
                            class="form-control"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="{% trans "Change Currency" %}">
              </div>
            </div>
          </form>
        </div>
      </div>
      <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#request-change-currency">
        {% trans "Change Request Currency" %}
      </button>
    {% endif %}
  {% endif %}
  {% if object.state != "draft" and object.state != "approved" %}
    <a class="btn btn-info" href="{% url "request-pdf" object.id %}">
      <i class="bi bi-filetype-pdf"></i>
    </a>
  {% endif %}
</section>
<h2>{% trans "Request" %}</h2>
<table class="table table-striped">
  <tr>
    <th>{% trans "Requester" %}</th>
    <td>
      {{ object.requester_name }}
      {% for status in membership_statuses %}
        <span class="badge bg-{{ status.bootstrap_color }}">
          {{ status.status }}
        </span>
      {% endfor %}
      {% if access.requester %}
        {% if object.state == "draft" or object.state == "approved" %}
          <div class="modal fade" id="transfer-request" tabindex="-1">
            <div class="modal-dialog">
              <form method="post" action="{% url "request-transfer-initiate" object.id %}" class="d-inline">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{% trans "Transfer Request" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="{% trans "Close" %}"></button>
                  </div>
                  <div class="modal-body">
                    {% blocktrans %}
                      <p>
                        If the expense has/will be made by another person, you
                        can transfer the request to them for reimbursement.
                      </p>
                      <p>
                        A transfer code will be generated that they can use to
                        take ownership of this request.
                      </p>
                    {% endblocktrans %}
                  </div>
                  <div class="modal-footer">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="{% trans "Transfer Request" %}">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#transfer-request">
            {% trans "Transfer" %}
          </button>
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% if object.parent %}
    <tr>
      <th>{% trans "Part of" %}</th>
      <td>
        <a href="{{ object.parent.get_absolute_url }}">
          {% blocktrans with id=object.parent.id subject=object.parent.subject %}
            Request {{ id }}: {{ subject }}
          {% endblocktrans %}
        </a>
      </td>
    </tr>
  {% endif %}
  <tr>
    <th>{% trans "State" %}</th>
    <td>{{ object.get_state_display }}</td>
  </tr>
  <tr>
    <th>{% trans "Bank Details" %}</th>
    <td>
      {% if object.bank_details %}
        {% if access.payer or access.requester or access.access_key %}
          <details>
            <summary>{% trans "show/hide" %}</summary>
            <table class="table table-striped">
              {% for k, v in object.pretty_bank_details.items %}
                <tr>
                  <th>{{ k }}</th>
                  <td>{{ v }}</td>
                </tr>
              {% endfor %}
            </table>
          </details>
        {% else %}
          {% trans "Provided, but not shown" %}
        {% endif %}
      {% else %}
        {% trans "Not yet provided" %}
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>{% trans "Request Type" %}</th>
    <td>{{ object.request_type }}</td>
  </tr>
  <tr>
    <th>{% trans "Description" %}</th>
    <td>{{ object.description|linebreaksbr }}</td>
  </tr>
  <tr>
    <th>{% trans "Expected Date" %}</th>
    <td>{{ object.expected_date|date }}</td>
  </tr>
  <tr>
    <th>{% trans "Currency" %}</th>
    <td>{{ object.currency }}</td>
  </tr>
  <tr>
    <th>{% trans "Approvers" %}</th>
    <td>{{ object.approver_group.name }}</td>
  </tr>
  <tr>
    <th>{% trans "Payers" %}</th>
    <td>
      {{ object.payer_group.name }}
      {% if object.state not in "deleted,paid,pending_payment" and access.approver or access.payer or access.admin %}
        <div class="modal fade" id="change-payer" tabindex="-1">
          <div class="modal-dialog">
            <form method="post" action="{% url "request-change-payer" object.id %}" class="d-inline">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{% trans "Change Request Payer" %}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="{% trans "Close" %}"></button>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                  <label for="change-payer-payer" class="form-label">
                    {% trans "Payer" %}
                  </label>
                  <select name="payer" id="change-payer-payer"
                          class="form-control">
                    {% for group in groups %}
                      <option value="{{ group.id }}"
                        {% if group == object.payer_group %}disabled{% endif %}
                        >{{ group.name }}</option>
                    {% endfor %}
                  </select>
                  <label for="change-payer-details" class="form-label">
                    {% trans "Public Notes" %}
                  </label>
                  <textarea name="details" id="change-payer-details" rows="3"
                            class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary" name="approve"
                         value="{% trans "Change Payer" %}">
                </div>
              </div>
            </form>
          </div>
        </div>
        {% if groups|length > 1 %}
          <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#change-payer">
            {% trans "Change Payer" %}
          </button>
        {% endif %}
      {% endif %}
    </td>
  </tr>
  {% if object.rt_tickets.exists %}
    <tr>
      <th>{% trans "RT Tickets" %}</th>
      <td>
        {% for ticket in object.rt_tickets.all %}
          <a class="btn btn-info d-print-inline" href="{{ ticket.url }}">{{ ticket.payer_group.name }} #{{ ticket.ticket_id }}</a>
        {% endfor %}
      </td>
    </tr>
  {% endif %}
</table>

{% if object.receipts or object.state == "approved" %}
  <h2>{% trans "Financial Summary" %}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Expense Type" %}</th>
        <th class="text-end">
          {% blocktrans with currency=object.currency %}
            Approved {{ currency }}
          {% endblocktrans %}
        </th>
        <th class="text-end">
          {% blocktrans with currency=object.currency %}
            Spent {{ currency }}
          {% endblocktrans %}
        </th>
        <th class="text-end">
          {% if object.reimbursement_lines.exists %}
            {% blocktrans with currency=object.currency %}
              Reimbursed {{ currency }}
            {% endblocktrans %}
          {% else %}
            {% blocktrans with currency=object.currency %}
              Remaining {{ currency }}
            {% endblocktrans %}
          {% endif %}
        </th>
        {% if object.currency != "USD" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Approved USD" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Spent USD" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% if object.reimbursement_lines.exists %}
              {% trans "Reimbursed USD" %}
            {% else %}
              {% trans "Remaining USD" %}
            {% endif %}
          </th>
        {% endif %}
        {% if object.currency != "EUR" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Approved EUR" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Spent EUR" %}
          </th>
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% if object.reimbursement_lines.exists %}
              {% trans "Reimbursed EUR" %}
            {% else %}
              {% trans "Remaining EUR" %}
            {% endif %}
          </th>
        {% endif %}
      </tr>
    </thead>
    {% for type in object.summarize_by_type.values %}
      <tr>
        {% if type.special %}
          <th>{{ type.name }}</th>
        {% else %}
          <td>{{ type.name }}</td>
        {% endif %}
        <td class="text-end">{{ type.qualified_requested|currency }}</td>
        <td class="text-end">{{ type.qualified_spent|currency }}</td>
        {% if object.reimbursement_lines.exists %}
          <td class="text-end">
            {{ type.qualified_reimbursed|currency }}
          </td>
        {% else %}
          <td class="text-end {% if type.over_budget %}text-danger{% else %}text-success{% endif %}">
            {{ type.qualified_remaining|currency }}
          </td>
        {% endif %}
        {% if object.currency != "USD" %}
          <td class="text-end xe">{{ type.qualified_requested|exchange:"USD" }}</td>
          <td class="text-end xe">{{ type.qualified_spent|exchange:"USD" }}</td>
          {% if object.reimbursement_lines.exists %}
            <td class="text-end xe">
              {{ type.qualified_reimbursed|exchange:"USD" }}
            </td>
          {% else %}
            <td class="text-end xe {% if type.over_budget %}text-danger{% else %}text-success{% endif %}">
              {{ type.qualified_remaining|exchange:"USD" }}
            </td>
          {% endif %}
        {% endif %}
        {% if object.currency != "EUR" %}
          <td class="text-end xe">{{ type.qualified_requested|exchange:"EUR" }}</td>
          <td class="text-end xe">{{ type.qualified_spent|exchange:"EUR" }}</td>
          {% if object.reimbursement_lines.exists %}
            <td class="text-end xe">
              {{ type.qualified_reimbursed|exchange:"EUR" }}
            </td>
          {% else %}
            <td class="text-end xe {% if type.over_budget %}text-danger{% else %}text-success{% endif %}">
              {{ type.qualified_remaining|exchange:"EUR" }}
            </td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}

<h2>{% trans "Budgeted Items" %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Expense Type" %}</th>
      <th>{% trans "Description" %}</th>
      <th class="text-end">
        {% blocktrans with currency=object.currency %}
          Amount {{ currency }}
        {% endblocktrans %}
      </th>
      {% if object.currency != "USD" %}
        <th class="text-end xe"
            title="{% trans "Calculated based on current exchange rates" %}">
          {% trans "Amount USD" %}
        </th>
      {% endif %}
      {% if object.currency != "EUR" %}
        <th class="text-end xe"
            title="{% trans "Calculated based on current exchange rates" %}">
          {% trans "Amount EUR" %}
        </th>
      {% endif %}
    </tr>
  </thead>
  {% for row in object.lines.all %}
    <tr>
      <td>{{ row.expense_type }}</td>
      <td>{{ row.description }}</td>
      <td class="text-end">{{ row.qualified_amount|currency }}</td>
      {% if object.currency != "USD" %}
        <td class="text-end xe">{{ row.qualified_amount|exchange:"USD" }}</td>
      {% endif %}
      {% if object.currency != "EUR" %}
        <td class="text-end xe">{{ row.qualified_amount|exchange:"EUR" }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  <tr>
    <th colspan="2">{% trans "Total" %}</th>
    <td class="text-end">{{ object.total|currency }}</td>
    {% if object.currency != "USD" %}
      <td class="text-end xe">{{ object.total|exchange:"USD" }}</td>
    {% endif %}
    {% if object.currency != "EUR" %}
      <td class="text-end xe">{{ object.total|exchange:"EUR" }}</td>
    {% endif %}
  </tr>
</table>

{% if object.children.all.exists %}
  <h2>{% trans "Sub-Requests" %}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Requester" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "State" %}</th>
        <th class="text-end">
          {% blocktrans with currency=object.currency %}
            Amount {{ currency }}
          {% endblocktrans %}
        </th>
        {% if object.currency != "USD" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount USD" %}
          </th>
        {% endif %}
        {% if object.currency != "EUR" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount EUR" %}
          </th>
        {% endif %}
      </tr>
    </thead>
    {% for child in object.children.all %}
      <tr>
        <td><a href="{{ child.get_absolute_url }}">{{ child.id }}</a></td>
        <td>{{ child.requester_name }}</td>
        <td>{{ child.subject }}</td>
        <td>
          <span
            {% if child.state == "draft" %}
              class="badge text-bg-secondary"
            {% elif child.state == "pending_approval" %}
              class="badge text-bg-info"
            {% elif child.state == "approved" %}
              class="badge text-bg-success"
            {% elif child.state == "deleted" %}
              class="badge text-bg-danger"
            {% elif child.state == "paid" %}
              class="badge text-bg-success"
            {% else %}
              class="badge text-bg-warning"
            {% endif %}
          >{{ child.get_state_display }}</span>
        </td>
        <td class="text-end">{{ child.total|exchange:object.currency }}</td>
        {% if object.currency != "USD" %}
          <td class="text-end xe">{{ child.total|exchange:"USD" }}</td>
        {% endif %}
        {% if object.currency != "EUR" %}
          <td class="text-end xe">{{ child.total|exchange:"EUR" }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% if object.receipts or object.state == "approved" %}
  <h2>{% trans "Receipts" %}</h2>
  <a class="btn btn-info" href="{% url 'request-receipts' object.id %}">View all</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Receipt" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Expense Type" %}</th>
        <th class="text-end">{% trans "Amount" %}</th>
        <th class="text-end"
            title="{% trans "Calculated based on the exchange rate of the receipt date" %}">
          {% blocktrans with currency=object.currency %}
            Amount {{ currency }}
          {% endblocktrans %}
        </th>
        {% if object.currency != "USD" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount USD" %}
          </th>
        {% endif %}
        {% if object.currency != "EUR" %}
          <th class="text-end xe"
              title="{% trans "Calculated based on current exchange rates" %}">
            {% trans "Amount EUR" %}
          </th>
        {% endif %}
      </tr>
    </thead>
    {% for receipt in object.receipts.all %}
      {% if receipt.lines.count == 0 %}
        <tr>
          <td rowspan="2">
            <div class="float-start">
              <a href="{% url "view-receipt-file" object.id receipt.id %}">
                <img src="{% url "view-receipt-thumbnail" object.id receipt.id %}"
                     class="img-fluid">
              </a>
            </div>
            {{ receipt.description|linebreaksbr }}
            {% if object.state == "approved" and access.requester %}
              <a class="btn btn-warning float-end"
                 href="{% url "edit-receipt" object.id receipt.id %}">{% trans "Edit Receipt" %}</a>
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% for line in receipt.lines.all %}
        <tr>
          {% if forloop.first %}
            <td rowspan="{{ receipt.lines.count|add:"1" }}">
              <div class="float-start">
                <a href="{% url "view-receipt-file" object.id receipt.id %}">
                  <img src="{% url "view-receipt-thumbnail" object.id receipt.id %}"
                       class="img-fluid">
                </a>
              </div>
              {{ receipt.description|linebreaksbr }}
              {% if object.state == "approved" and access.requester %}
                <a class="btn btn-warning float-end"
                   href="{% url "edit-receipt" object.id receipt.id %}">{% trans "Edit Receipt" %}</a>
              {% endif %}
            </td>
          {% endif %}
          <td>{{ line.date }}</td>
          <td>{{ line.description|linebreaksbr }}</td>
          <td>{{ line.expense_type }}</td>
          <td class="text-end">{{ line.qualified_amount|currency }}</td>
          <td
            {% if line.conversion_within_limits %}
              class="text-end">
            {% else %}
              class="text-end bg-warning">
              <span class="badge bg-danger float-start" data-bs-toogle="tooltip"
                    data-bs-placement="top"
                    title="{% blocktrans with auto_conversion=line.qualified_automatically_converted_amount|currency %}Conversion is above expected limits. Reference conversion: {{ auto_conversion }}.{% endblocktrans %}">
                <i class="bi bi-exclamation-triangle-fill"></i>
              </span>
            {% endif %}
            {% if receipt.custom_conversion %}
              <span class="badge bg-info float-start" data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="{% trans "Custom Conversion" %}">
                <i class="bi bi-percent"></i>
              </span>
            {% endif %}
            {{ line.qualified_converted_amount|currency }}
          </td>
          {% if object.currency != "USD" %}
            <td class="text-end xe">{{ line.qualified_converted_amount|exchange:"USD" }}</td>
          {% endif %}
          {% if object.currency != "EUR" %}
            <td class="text-end xe">{{ line.qualified_converted_amount|exchange:"EUR" }}</td>
          {% endif %}
        </tr>
      {% endfor %}
        <tr>
          <th colspan="4">{% trans "Receipt Subtotal" %}</th>
          <td class="text-end">{{ receipt.total|currency }}</td>
          {% if object.currency != "USD" %}
            <td class="text-end xe">{{ receipt.total|exchange:"USD" }}</td>
          {% endif %}
          {% if object.currency != "EUR" %}
            <td class="text-end xe">{{ receipt.total|exchange:"EUR" }}</td>
          {% endif %}
        </tr>
    {% endfor %}
    <tr>
      <th colspan="5">{% trans "Total" %}</th>
      <td class="text-end">{{ object.receipts_total|currency }}</td>
      {% if object.currency != "USD" %}
        <td class="text-end xe">{{ object.receipts_total|exchange:"USD" }}</td>
      {% endif %}
      {% if object.currency != "EUR" %}
        <td class="text-end xe">{{ object.receipts_total|exchange:"EUR" }}</td>
      {% endif %}
    </tr>
  </table>
{% endif %}

<h2>{% trans "History" %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Event" %}</th>
      <th>{% trans "Actor" %}</th>
      <th>{% trans "Budget" %}</th>
      <th>{% trans "Details" %}</th>
    </tr>
  </thead>
  {% for event in object.history.all %}
    <tr>
      <td>{{ event.timestamp|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>{{ event.get_event_display }}</td>
      <td>{{ event.actor }}</td>
      <td>
        {% if event.budget %}
          <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown">
              {{ event.budget_total_qualified|currency }}
            </button>
            <div class="dropdown-menu p-4">
              <table class="table table-striped" style="width: 30em">
                <tr>
                  <th>{% trans "Type" %}</th>
                  <th class="text-end">{% trans "Approved" %}</th>
                  <th class="text-end">{% trans "Spent" %}</th>
                </tr>
                {% for line in event.budget_allocation %}
                  <tr>
                    {% if line.special %}
                      <th>{{ line.name }}</th>
                    {% else %}
                      <td>{{ line.name }}</td>
                    {% endif %}
                    <td class="text-end">{{ line.qualified_requested|currency }}</td>
                    <td class="text-end">{{ line.qualified_spent|currency }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        {% endif %}
      </td>
      <td>{{ event.details }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
